.sponsor-img {
  width: 200px;
  height: 280px;
}

::-webkit-scrollbar {
  display: none !important;
}

.custom-sponsor-tip {
  margin-bottom: 60px;
  text-align: right;
  strong {
    color: #07a5df !important;
  }
}
